.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 600px;
    margin: 0 auto;   
}
  
.title {
    font-size: 25px;
    text-align: left;
    margin-bottom: 10px;
}

.wrapper{
    display: flex;
    gap: 12px;
}
  
.textarea{
    width: 100%;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}
  
textarea:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px #007bff;
    outline: none;
}
  
.button {
    background-color: var(--blue); 
    color: #fff;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

.button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.button:disabled:hover {
    background-color: gray;
    cursor: not-allowed;
}
  
.button:hover {
    background-color: #033870;
}

.item {
    margin: 10px 0;
}
  
.comment {
    display: flex;
    align-items:center;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.text{
    margin-left: 15px;
}

/* ColorPicker.module.css */
.colorPickerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .colorSquare {
    width: 50px;
    height: 50px;
  }
  
  /* Другие стили здесь */
  
  